<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div class="grid-container">
    <div class="search">
      <%- include('include/searchForm') %>
    </div>
    <div class="item2">Menu</div>
    <div class="form">
        <% if(isLoggedIn){ %>
            <%= funnyText %>
        
        <% } else { %>
          <%- include('include/registerForm') %>
          <%- include('include/loginForm') %>
        <% } %>
    </div>  
    <div class="item4">Right</div>
    <div class="item5">Footer</div>
  </div>

  <script src="js/loginRegister.js"></script>
</body>
</html>